.footer {
    position: relative;
    &-top {
        padding-bottom: 52px;
        display: flex;
        justify-content: space-between;

        @include a (tablet-xl) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &__info {
        @include a (tablet-xl) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logo {
        margin-bottom: 38px;
    }

    &__adress {
        display: block;
        font-size: toRem(20);
        line-height: 32px;
        color: $medium-color;
        letter-spacing: 0.02em;

        &:nth-child(3) {
            margin-bottom: 38px;
        }
    }

    &__title-sml {
        display: block;
        font-size: toRem(20);
        font-weight: 700;
        color: $medium-color;
        margin-bottom: 16px;
    }

    &__social {
        display: flex;
        gap: 11px;
    }

    &__bg {
        position: absolute;
        bottom: 0;
        // left: 0;
        z-index: -1;
    }

    &-wrap {
        display: flex;
        gap: 183px;
        @include a (tablet) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }

    &__title {
        font-family: 'Circular Std', sans-serif;
        font-size: toRem(24);
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $dark-color;
        margin-bottom: 37px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include a (tablet-xl) {
            text-align: center;
        }
    }

    &__item {
        &-link {
            font-size: toRem(20);
            letter-spacing: 0.02em;
            color: $medium-color;

            &:hover {
                color: $dark-color;
            }
        }
    }

    &-bot {
        background-color: $main-color;
        padding: 20px 0;

        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__copyright {
        font-family: 'Circular Std', sans-serif;
        font-size: toRem(14);
        font-weight: 450;
        letter-spacing: 0.02em;
        color: $light-color;
        padding-left: 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url(/src/assets/images/copyright-icon.png);
            width: 14px;
            height: 14px;
            left: 0;
        }
    }

    &__lang {
        font-family: 'Circular Std', sans-serif;
        font-size: toRem(14);
        font-weight: 450;
        letter-spacing: 0.02em;
        color: $light-color;
        padding-left: 41px;
        padding-right: 12px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background: url(/src/assets/images/lang-icon.png);
            width: 28px;
            height: 28px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            content: "";
            position: absolute;
            background: url(/src/assets/images/lang-arrow.png);
            width: 8px;
            height: 6px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}